DISCORD_TOKEN=votre_token_ici
CLIENT_ID=votre_client_id_ici
GUILD_ID=votre_guild_id_ici
PORT=49501
WEBHOOK_PORT=49502
WEBHOOK_SECRET=votre_secret_webhook_ici
DISCORD_CLIENT_ID=votre_discord_client_id_ici
DISCORD_CLIENT_SECRET=votre_discord_client_secret_ici
DISCORD_CALLBACK_URL=http://votre_ip:49501/auth/callback
SESSION_SECRET=votre_session_secret_ici
